@{
    ViewData["Title"] = "Privacy Policy";
}
<center> <h1>@ViewData["Title"]</h1> </center>
<style>    

</style>
<html>   
<body>
    <main>

        <div class="privacy-policy">
            Privacy Policy for The Regista Pre-Sales Application Site

            At The Regista, accessible from the pre-sales application site, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by The Regista and how we use it.

            If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.

            This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in The Regista. This policy is not applicable to any information collected offline or via channels other than this website.
            Consent

            By using our website, you hereby consent to our Privacy Policy and agree to its terms.

            Information we collect

            The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.
            If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.
            How we use your information
            We use the information we collect in various ways, including to:
            Provide, operate, and maintain our website
            Improve, personalize, and expand our website
            Understand and analyze how you use our website
            Develop new products, services, features, and functionality
            Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the website, and for marketing and promotional purposes
            Send you emails
            Find and prevent fraud
            Log Files

            The Regista follows a standard procedure of using log files.

            This content may violate our content policy or terms of use. If you believe this to be in error, please submit your feedback — your input will aid our research in this area.

        </div>
        <br />
    </main>
</body>
</html>  